<a href="http://pinterest.com/pin/create/button/?url={{shop.url}}{{product.url}}&media={{ product.images.first | product_img_url: 'compact' }}&description={{ product.description | truncatewords:20 }}" class="pin-it-button" count-layout="horizontal">Pin It</a>

<script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>