<div id="col-main" class="all-collections">
	<div id="page-header">
		<h2 class="title">{{ page.title | escape }}</h2>	
	</div>

	<section class="diagonal-divider clearfix">
	  {{ page.content }}
	  
	  {% include 'vendors' %}
	</section>
</div><!-- /#col-main -->