<div id="col-main" class="content">

<!-- Spencer Edit. Took Out for Yobel Market 
  <div id="page-header">
    <h2 id="page-title">{{ page.title | escape }}</h2>	
  </div>
 -->

  {{ page.content }}

<div id="store_map">
	{% for article in blogs.site-content.articles %}
	    {% if article.title == "map" %}
	    {{article.content}}
	    {% endif %}
	{% endfor %}
</div>

<div id="store_hours">
	{% for article in blogs.site-content.articles %}
	    {% if article.title == "hours" %}
	    {{article.content}}
	    {% endif %}
	{% endfor %}
</div>

  
</div><!-- /#col-main -->